@font-face {
    font-family: "FrontPageNews";
    src: url("fonts/FPN.otf") format("opentype");
}

@font-face {
    font-family: "HealthyFreak";
    src: url("fonts/HealthyFreak.otf") format("opentype");
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('Images/achtergrond.png') no-repeat center center fixed;
    background-size: cover;
    background-position: top;
    color: #333;
    max-width: 375px;
    margin: 0 auto;
}

#groene-chef {
    background-image: url('Images/achtergrond2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#groene-home {
    background-image: url('Images/achtergrond-home.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}


.green-box {
    background-color: #C1D366;
    border: 6px solid #ffffff;
    border-radius: 28px;
    padding: 60px 30px 20px;
    width: 277px;
    height: auto;
    margin-top: 0px;
    margin: 80px auto 20px;
    margin-bottom: 40px;

}

.white-box {
    background-color: #ffffff;
    border-radius: 28px;
    padding: 20px;
    width: 277px;
    height: 197px;
    margin-top: 0;
    margin: auto;
    margin-bottom: 20px;
}

.titel-visie {
    width: 250px;
    /* Stel de breedte in */
    display: block;
    margin-left: 65px;
    top: 55px;
    position: absolute;
    margin-top: 55px;
}

.titel-locatie {
    width: 277px;
    /* Stel de breedte in */
    display: block;
    margin-left: 45px;
    top: 55px;
    position: absolute;
    margin-top: 55px;
}

.titel-navigatie {
    width: 220px;
    /* Stel de breedte in */
    display: block;
    margin: auto;
    margin-top: 50px;


}

.titel-duurzaam {
    width: 250px;
    /* Stel de breedte in */
    display: block;
    margin-left: 55px;
    top: 0px;
    position: absolute;
    margin-top: 80px;
}


.hamburger-menu {
    height: 41px;
    display: block;
    margin: 20px;
    float: right;

}

.logo {
    width: 60px;
    margin: 20px;

}


.green-box h1 {
    font-size: 18pt;
    font-family: "HealthyFreak", sans-serif;
    color: white;
    margin: 0 0 20px;
}

.white-box h1 {
    font-size: 16pt;
    font-family: "FrontPageNews", sans-serif;
    color: #2B3F2B;
    margin: 0 0 20px;

}

.text-block {
    margin-bottom: 20px;
    font-size: 16pt;
    font-family: "HealthyFreak", sans-serif;
    color: white;
}

.green-box img {
    display: block;
    width: 100%;
    border-radius: 12px;
    margin: 20px 0;
}

p {
    margin: 0px;
    font-size: 14pt;
    font-family: "FrontPageNews", sans-serif;
    color: white;
    margin-top: -12px;
    margin: 0 0 20px;

}

.btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    margin-top: 18px;

}

.button {
    display: block;
    width: 150px;
    height: 40px;
    background: url('Images/button.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}


.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-button img {
    align-items: center;
    width: 144px;
    height: 38px;
    margin-left: 60px;
}

.knop-onder1 {

    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.knop-onder2 {

    display: block;
    width: 50%;
    margin: 570px auto;
    margin-bottom: 20px;
    top: 100px;
}

.background-home {

    width: 375px;
    height;
    100%;


}
